@import ../molecules/textos
@import ../organisms/habilidades

header
	margin: 0 0 25px

	background:
		image: url('../imagens/foto-slide-pagina-sobre.jpg')
		size: cover
		position: top center
		repeat: no-repeat
		color: $preto

.botao
	display: table
	margin: 30px auto
	clear: both

	